<section class="widget-section padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="widget-content home-widgets">
                    <h4>Newsletter Subscription</h4>
                    <p>Subscribe to our newsletter for latest updates.</p>
                    <div class="subscribe-box clearfix">
                        <div class="subscribe-form-wrap">
                            <form action="#" class="subscribe-form">
                                <input type="email" name="email" id="subs-email" class="form-input" placeholder="Enter Your Email Address...">
                                <button type="submit" class="submit-btn">Subscribe</button>
                                <div id="subscribe-result">
                                    <p class="subscription-success"></p>
                                    <p class="subscription-error"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.widget-section-->

<footer class="footer-section align-center">
    <div class="container">
        <p>&copy; 2024 Brainverse.AI</p>
    </div>
</footer><!-- /.footer-section -->